.header
{
    background-color: #6f6fa9;
    color: white;
    padding: 15px;
    text-align: center;
    bottom: 0;
    font-size: larger;
}
.footer
{
    background-color: #6f6fa9;
    color: white;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: large;
    width: 100%;
}